@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clip {
  clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
}

nav a {
  position: relative;
}

nav a::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}

nav a:hover::before {
  width: 100%;
}

.active::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}

.MuiDrawer-paper {
  width: 70% !important;
  background: transparent !important;
  flex-direction: row !important;
}
